@font-face {
    font-family: KnockoutCruiserweight ;
    src: url(resource/fonts/KnockoutCruiserweight_regular.otf);
}

@font-face {
    font-family: DealerplateCalifornia;
    src: url(resource/fonts/DealerplateCalifornia.otf);
}

@font-face {
    font-family: BinaryNeue;
    src: url(resource/fonts/LTBinaryNeue.ttf);
}

body{
    background-color: rgb(33, 33, 33);
}


.container-1{
    display: inline;
    justify-content: center;
    align-items: center;
}

.sLogo{
    position:absolute;
    width: 30px;
    height: auto;
    margin-left: 45px;
    margin-top: 7px;
}

.Navbar{
    position:fixed;
    background-color: rgb(33, 33, 33);
    height: 50px;
    width: 100%;
    top:0px;
    left:0px;
    border: 5px;
    z-index: 5;
}

.Banner{
    position:absolute;
    padding: 0%;
    margin: 0%;
    background-image: url(resource/img/BannerBg.gif);
    background-color: rgb(33, 33, 33);
    background-position: center;
    background-attachment:scroll;
    background-repeat:repeat;
    height:fit-content;
    width:100%;
    top:0%;
    left: 0%;
    right:0%;
}

#Branding{
    position: relative;
    display: block;
    width: 300px;
    height: auto;
    margin: auto;

}

.NavElements{
    display: flex;
    float:right;
    padding-right: 40px;
    padding-top: 10px;
    text-decoration: none;
    color: rgb(251, 245, 229);
    font-family: DealerplateCalifornia;
    align-items: center;
    margin-top: 5px;
    /* z-index: 7; */
}

.sub-header{
    display:flex;
    color: rgb(251, 245, 229);
    justify-content: center;
    font-family: DealerplateCalifornia;
    font-weight: 100;
    padding-top: 50px;
    font-size: small;

}

#window1{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-self: start;
    background-size: cover;

}

.Magpili-scroll{
    display: flex;
    position:relative;
    top: 390px;
    border-block: 1px solid;
    overflow: hidden;
    padding-block: 4px;
    font-size: 15px;
    user-select: none;
    font-family: BinaryNeue;
    gap: 2rem;
    background-color: rgb(251, 245, 229);

    --gap: 20px;
    gap: var(--gap);
}

.Magpili-scroll ul{
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 0%;
    margin-top: 3px;
    gap: var(--gap);

    animation: scroll 20s linear infinite;
    /* background-color: blueviolet; */
}

.Magpili-scroll:hover ul{
    animation-play-state: paused;
}

@keyframes scroll{
    to{
        transform: translateX( calc(-100% - var(--gap)));
    }
}

.Magpili-scroll .language{
    font-weight: bold;
}

.Magpili-scroll .class, .Magpili-scroll .Style{
    font-weight: lighter;
    margin-inline: 1px;
}

.Magpili-scroll .level{
    margin-inline: 4px;
    color: rgb(228, 73, 163);
}

.project-box{
    display: block;
    padding: 1rem;
    border-left: 3px solid rgb(251, 245, 229) ;
    border-bottom: 3px dashed rgb(251, 245, 229);
}

.projects-container{
    position: relative;
    margin-top: 400px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 15px;
    justify-content: center;
}

.project-n0{
    color: rgb(251, 245, 229);
    font-family: DealerplateCalifornia;
    font-size: 50px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.project-num{
    color: rgb(251, 245, 229);
    font-family: DealerplateCalifornia;
    font-size: 100px;
    margin-inline: 10px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.innie-box{
    display: flex;
    align-items: baseline;
}

.innie-box-2{
    margin-top: 5px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.Pictures{
    border: 2px solid rgb(251, 245, 229);
    margin: 0%;
    width: 300px;
    height: auto;
}

.project-desc{
    margin-top: 3px;
    background-color: yellow;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgb(251, 245, 229);
    display:flex;
    font-family: BinaryNeue;
    margin-bottom: 0%;
}

.language-used{
    display: flex;
    align-items:baseline;
    justify-content: flex-end;
    margin-top: 0%;
    font-family: DealerplateCalifornia;
    color:rgb(251, 245, 229);
    font-size: 20px;
    padding-right: 10px;
    margin-bottom: 0%;
}

.skill-bar{
    height: 10px;
    width: 500px;
    background-color: rgb(251, 245, 229);
}

.container-2{
    margin-bottom: 0%;
    margin-left: 0%;
    color: rgb(251, 245, 229);
    font-size: 15px;
    user-select: none;
    font-family: BinaryNeue;
    border-left: 2px solid rgb(251, 245, 229);
    padding-left: 10px;
}

.Skills-me{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-top:1%;
    background-image: url(resource/img/Banner-2.gif);
    background-size: cover;
    background-position: center;
}



.Skills{
    margin-top:0%;
    margin-bottom: 0%;
    color: rgb(251, 245, 229);
    font-size: 50px;
    user-select: none;
    padding-left: 10px;
    font-family:DealerplateCalifornia;
}

.techno{
    border-left: 2px solid rgb(251, 245, 229);
    padding-left: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: smaller;
}

.progress-bar-python{
    position: absolute;
    height: 5px;
    width: 300px;
    margin:3px;
    background-color: palevioletred;
}

.progress-bar-C{
    position: absolute;
    height: 5px;
    width: 380px;
    margin:3px;
    background-color: palevioletred;
}

.progress-bar-JavaScript{
    position: absolute;
    height: 5px;
    width: 200px;
    margin:3px;
    background-color: palevioletred;
}

.progress-bar-java{
    position: absolute;
    height: 5px;
    width: 220px;
    margin:3px;
    background-color: palevioletred;
}

.container-3{
    display: flex;
    justify-content: space-between;
    width:700px;
}

.hi{
    margin-top: 0%;
    text-decoration: underline;
    color: rgb(251, 245, 229);
    font-size: 50px;
    user-select: none;
    font-family:DealerplateCalifornia;
}

.plug{
    margin-top: 0%;
    color: rgb(251, 245, 229);
    font-size: 30px;
    align-content:center;
    user-select: none;
    font-family:DealerplateCalifornia;
    font-weight: 100;
}

.nickname{
    display: block;
    width: 700px;
    color: rgb(251, 245, 229);
    font-size: 200px;
    user-select: none;
    font-family:DealerplateCalifornia;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
}

.footer{
    margin-top: 1%;
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content:left;
    background-color: rgb(228, 73, 163);
}

#Branding-foot{
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    width: 100px;
    height: auto;
    margin: 0%;

}

.personal-cont{
    padding: 1rem;
    display: block;
    align-content: baseline;
    font-family: DealerplateCalifornia;
    color:rgb(251, 245, 229);
    font-weight: 100;
}

